In [99]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns
import math

In [ ]:
#!pip install seaborn

In [100]:
df_train = pd.read_csv('train.csv')
print(df_train.shape)

df_train_top = df_train.columns
print(df_train_top)

# how many missing values in each column
df_train.isna().sum()

(891, 12)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [101]:
# calculate the mean age for each sex and store the values in a variable
df_mean = df_train[['Age', 'Sex']].groupby('Sex').mean()
mean_male = df_mean.iloc[1][0]
mean_female = df_mean.iloc[0][0]
# replace the NA values with its respective mean values
female_fill =  df_train[df_train['Sex'] == 'female']['Age'].fillna(mean_female)
male_fill = df_train[df_train['Sex'] == 'male']['Age'].fillna(mean_male)
# join the Series along the index number and replace the NA containing Age column of df_train
Age_fill = pd.concat([female_fill, male_fill], axis=0, join='outer')
df_train['Age'] = Age_fill

In [102]:
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [103]:
df_train = df_train.astype({'Age': 'int', 'Fare': 'int'})

In [104]:
df_train['Sex'] = df_train['Sex'].replace(['male', 'female'], [0, 1])
df_train['Embarked'] = df_train['Embarked'].replace(['C', 'S', 'Q'], [0, 1, 2])

In [105]:
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex              int64
Age              int32
SibSp            int64
Parch            int64
Ticket          object
Fare             int32
Cabin           object
Embarked       float64
dtype: object

In [106]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22,1,0,A/5 21171,7,NaN,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38,1,0,PC 17599,71,C85,0.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26,0,0,STON/O2. 3101282,7,NaN,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35,1,0,113803,53,C123,1.0
4,5,0,3,"Allen, Mr. William Henry",0,35,0,0,373450,8,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27,0,0,211536,13,NaN,1.0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19,0,0,112053,30,B42,1.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,27,1,2,W./C. 6607,23,NaN,1.0
889,890,1,1,"Behr, Mr. Karl Howell",0,26,0,0,111369,30,C148,0.0
890,891,0,3,"Dooley, Mr. Patrick",0,32,0,0,370376,7,NaN,2.0

In [ ]:
sns.scatterplot(data=df_train, x = 'Pclass', y = 'Age', style='Survived')

In [ ]:
sns.scatterplot(data=df_train, x = 'SibSp', y = 'Parch', style='Survived')

In [ ]:
sns.scatterplot(data=df_train, x = 'Pclass', y = 'Fare', style='Survived')

In [ ]:
g = sns.FacetGrid(df_train, col='Survived', row='Pclass')
g.map(plt.hist, 'Age', bins = 20)

In [107]:
X_train = df_train.drop(['Cabin', 'Survived', 'Name', 'Ticket', 'PassengerId'], axis=1).to_numpy()
y_train = df_train['Survived'].to_numpy()

In [108]:
print ('The shape of X_train is: ' + str(X_train.shape))
print ('The shape of y_train is: ' + str(y_train.shape))
print ('We have m = %d training examples' % (len(y_train)))

The shape of X_train is: (891, 7)
The shape of y_train is: (891,)
We have m = 891 training examples

In [112]:
X_train

array([[ 3.,  0., 22., ...,  0.,  7.,  1.],
       [ 1.,  1., 38., ...,  0., 71.,  0.],
       [ 3.,  1., 26., ...,  0.,  7.,  1.],
       ...,
       [ 3.,  1., 27., ...,  2., 23.,  1.],
       [ 1.,  0., 26., ...,  0., 30.,  0.],
       [ 3.,  0., 32., ...,  0.,  7.,  2.]])

In [113]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22,1,0,A/5 21171,7,NaN,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38,1,0,PC 17599,71,C85,0.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26,0,0,STON/O2. 3101282,7,NaN,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35,1,0,113803,53,C123,1.0
4,5,0,3,"Allen, Mr. William Henry",0,35,0,0,373450,8,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27,0,0,211536,13,NaN,1.0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19,0,0,112053,30,B42,1.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,27,1,2,W./C. 6607,23,NaN,1.0
889,890,1,1,"Behr, Mr. Karl Howell",0,26,0,0,111369,30,C148,0.0
890,891,0,3,"Dooley, Mr. Patrick",0,32,0,0,370376,7,NaN,2.0

In [109]:
def sigmoid(z):
    """
    Compute the sigmoid of z

    Args:
        z (ndarray): A scalar, numpy array of any size.

    Returns:
        g (ndarray): sigmoid(z), with the same shape as z
         
    """
          
    ### START CODE HERE ### 
    g = 1/(1+np.exp(-z))
    ### END SOLUTION ###  
    
    return g

In [110]:
# UNQ_C2
# GRADED FUNCTION: compute_cost
def compute_cost(X, y, w, b, lambda_= 1):
    """
    Computes the cost over all examples
    Args:
      X : (ndarray Shape (m,n)) data, m examples by n features
      y : (array_like Shape (m,)) target value 
      w : (array_like Shape (n,)) Values of parameters of the model      
      b : scalar Values of bias parameter of the model
      lambda_: unused placeholder
    Returns:
      total_cost: (scalar)         cost 
    """

    m, n = X.shape
    
    ### START CODE HERE ###
    cost = 0
    for i in range(m):
       z = np.dot(w, X[i]) + b
       cost_temp = (-y[i] * np.log(sigmoid(z))) - ((1 - y[i]) * np.log(1 - sigmoid(z)))
       cost = cost + cost_temp

    total_cost = cost / m
    
    ### END CODE HERE ### 

    return total_cost

In [125]:
z = np.dot(np.zeros(n), X_train[100]) + 0
z

0.0

In [130]:
X_train.shape

(891, 7)

In [135]:
compute_cost(X_train, y_train, np.array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7]), -24)

C:\Users\Micha\AppData\Local\Temp\ipykernel_7388\3215093031.py:22: RuntimeWarning: divide by zero encountered in log
  cost_temp = (-y[i] * np.log(sigmoid(z))) - ((1 - y[i]) * np.log(1 - sigmoid(z)))
C:\Users\Micha\AppData\Local\Temp\ipykernel_7388\3215093031.py:22: RuntimeWarning: invalid value encountered in scalar multiply
  cost_temp = (-y[i] * np.log(sigmoid(z))) - ((1 - y[i]) * np.log(1 - sigmoid(z)))

nan

In [124]:
# Compute and display cost with non-zero w
test_w = np.array([0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2])
test_b = -24.
cost = compute_cost(X_train, y_train, test_w, test_b)

print('Cost at test w,b: {:.3f}'.format(cost))

Cost at test w,b: nan

C:\Users\Micha\AppData\Local\Temp\ipykernel_7388\3215093031.py:22: RuntimeWarning: divide by zero encountered in log
  cost_temp = (-y[i] * np.log(sigmoid(z))) - ((1 - y[i]) * np.log(1 - sigmoid(z)))
C:\Users\Micha\AppData\Local\Temp\ipykernel_7388\3215093031.py:22: RuntimeWarning: invalid value encountered in scalar multiply
  cost_temp = (-y[i] * np.log(sigmoid(z))) - ((1 - y[i]) * np.log(1 - sigmoid(z)))

In [111]:
m, n = X_train.shape

# Compute and display cost with w initialized to zeroes
initial_w = np.zeros(n)
initial_b = 0.
cost = compute_cost(X_train, y_train, initial_w, initial_b)
print('Cost at initial w (zeros): {:.3f}'.format(cost))

Cost at initial w (zeros): nan

In [ ]:
# UNQ_C3
# GRADED FUNCTION: compute_gradient
def compute_gradient(X, y, w, b, lambda_=None): 
    """
    Computes the gradient for logistic regression 
 
    Args:
      X : (ndarray Shape (m,n)) variable such as house size 
      y : (array_like Shape (m,1)) actual value 
      w : (array_like Shape (n,1)) values of parameters of the model      
      b : (scalar)                 value of parameter of the model 
      lambda_: unused placeholder.
    Returns
      dj_dw: (array_like Shape (n,1)) The gradient of the cost w.r.t. the parameters w. 
      dj_db: (scalar)                The gradient of the cost w.r.t. the parameter b. 
    """
    m, n = X.shape
    dj_dw = np.zeros(w.shape)
    dj_db = 0.

    ### START CODE HERE ### 
    for i in range(m):
        z = np.dot(w, X[i]) + b
        dj_db_temp = sigmoid(z) - y[i]
        dj_db = dj_db + dj_db_temp

        for j in range(n):
            dj_dw[j] = dj_dw[j] + (dj_db_temp * X[i,j])

    dj_db = dj_db/m
    dj_dw = dj_dw/m
                                          
        
    ### END CODE HERE ###

        
    return dj_db, dj_dw

In [ ]:
# Compute and display gradient with w initialized to zeroes
initial_w = np.zeros(n)
initial_b = 0.

dj_db, dj_dw = compute_gradient(X_train, y_train, initial_w, initial_b)
print(f'dj_db at initial w (zeros):{dj_db}' )
print(f'dj_dw at initial w (zeros):{dj_dw.tolist()}' )

In [ ]:
def gradient_descent(X, y, w_in, b_in, cost_function, gradient_function, alpha, num_iters, lambda_): 
    """
    Performs batch gradient descent to learn theta. Updates theta by taking 
    num_iters gradient steps with learning rate alpha
    
    Args:
      X :    (array_like Shape (m, n)
      y :    (array_like Shape (m,))
      w_in : (array_like Shape (n,))  Initial values of parameters of the model
      b_in : (scalar)                 Initial value of parameter of the model
      cost_function:                  function to compute cost
      alpha : (float)                 Learning rate
      num_iters : (int)               number of iterations to run gradient descent
      lambda_ (scalar, float)         regularization constant
      
    Returns:
      w : (array_like Shape (n,)) Updated values of parameters of the model after
          running gradient descent
      b : (scalar)                Updated value of parameter of the model after
          running gradient descent
    """
    
    # number of training examples
    m = len(X)
    
    # An array to store cost J and w's at each iteration primarily for graphing later
    J_history = []
    w_history = []
    
    for i in range(num_iters):

        # Calculate the gradient and update the parameters
        dj_db, dj_dw = gradient_function(X, y, w_in, b_in, lambda_)   

        # Update Parameters using w, b, alpha and gradient
        w_in = w_in - alpha * dj_dw               
        b_in = b_in - alpha * dj_db              
       
        # Save cost J at each iteration
        if i<100000:      # prevent resource exhaustion 
            cost =  cost_function(X, y, w_in, b_in, lambda_)
            J_history.append(cost)

        # Print cost every at intervals 10 times or as many iterations if < 10
        if i% math.ceil(num_iters/10) == 0 or i == (num_iters-1):
            w_history.append(w_in)
            print(f"Iteration {i:4}: Cost {float(J_history[-1]):8.2f}   ")
        
    return w_in, b_in, J_history, w_history #return w and J,w history for graphing

In [ ]:
np.random.seed(1)
initial_w = np.zeros(n)
initial_b = 0.


# Some gradient descent settings
iterations = 10000
alpha = 0.001

w,b, J_history,_ = gradient_descent(X_train ,y_train, initial_w, initial_b, 
                                   compute_cost, compute_gradient, alpha, iterations, 0)

In [ ]:
initial_w = 0.01 * (np.random.rand(7).reshape(-1,7) - 0.5)
initial_b = -8


# Some gradient descent settings
iterations = 10000
alpha = 0.001

w,b, J_history,_ = gradient_descent(X_train ,y_train, initial_w, initial_b, 
                                   compute_cost, compute_gradient, alpha, iterations, 0)

In [ ]:
X_train